@import url('header.css');

:root{
    --web-height:75svh;
}

.schedule-appointment-section{
    margin-top: 1px;
    background-color: var(--dominant);
    display: flex;
    justify-content: center;
    font-size: 1.5rem;
    font-weight: 600;
}
.vector-img{
    height: var(--web-height);
    width: fit-content;
    
    position: relative;
    top: 40px;
    
}

.schedule-appointment-section div{
    display: block;
    height: var(--web-height);
    align-content: center;
    padding-inline: 2rem;
    z-index: 1;
    margin-left: 4rem;

}
.schedule-appointment-section div p{
    max-width: 50%;
    margin-block: 1rem 3rem;
}
.call-to-action-btn{
    background-color:var(--accent);
    color: var(--dominant);
    font-weight: 700;
    padding: 1rem 3rem;
    font-size: 1.5rem;
    border-radius: 30px;
    border-width: 0px;
    margin-inline: 2rem;
    box-shadow: 0px 10px 30px 1px var(--complementary);
    margin-block: 1rem;
    cursor: pointer;
    transition: all 0.2s ease-in-out;
    text-decoration: none;
    

    
}
.call-to-action-btn:hover{
    transform: scale(1.1,1.1);
    background-color: var(--complementary);
    
}