.products-container{
    display: grid;
    grid-template-columns: repeat(4,20vw);
    grid-auto-rows: auto;
    gap: 2vh;
    justify-content: center;
    align-content: space-around;

}

h1{
    text-align: center;
}


.search-bar input{
    width: 50vw;
    height: 5vh;
    border-radius: 8px;
    border-style: solid;
    padding:10px;
    border-width: 0px;
    box-shadow: 0.2px 0.2px 2px 5px rgba(0, 0, 0, 0.123);

}
.search-bar input:active{
    border-width: 0px;
}

.search-bar{
    display: flex;
    justify-content: center;
    margin: 2rem;
    align-content: center;
}
#reset-search-button{
    width: 30px;
    height: 30px;
    position: relative;
    left:-35px;
    top:10px;
    cursor: pointer;
    transition-duration: 0.3;
    transition-timing-function: ease-in;
    transform: scale(1,1);
    transition-property: transform;
}
#reset-search-button:hover {
    transform: scale(1.2,1.2);
}

.not-empty{
    display:block;
}
.empty{
    display: none;
}