@import url('header.css');

:root{
    --width:40vw;
}

body{
   background-color: var(--dominant);
   margin: 0;
    
}
.main{
    background-color: white;
    margin: 8% auto;
    aspect-ratio: 4/3;
    width: var(--width);
    display: flex;
    overflow:hidden;
    box-shadow: 0px 10px 10px 1px rgba(0,0,0,0.2);
    padding: 1rem 3rem;
    position: relative;
    align-content: center;

}
.form{
    position: absolute;
    transition: 0.3s ease-in-out;
    aspect-ratio: 4/3;
    height: 100%;
    width:100%;
    left:0;
    display:flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    
}


.button-container{
    display: flex;
    width: var(--width);
    justify-content: center;
    flex-direction: row;
    gap: 1rem;
    margin-bottom: 2rem;
    
    
    
}
.next-btn, .back-btn{
    width: 100%;
    background-color: var(--accent);
    color: var(--dominant);
    border-width: 0;
    border-radius: 15px;
    box-shadow: 0px 0px 10px 1px rgba(0,0,0,0.2);
    height: 10vh;
    font-size: 1.5rem;
    
    
}

.pending{
    left:100vw;
}
.done{
    left:-100vh;
}

input[type="date"]{
    width: 100%;
    
}
.form-container{
    width: 80%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-content: center;
}
.date-input{
    aspect-ratio: 9/1;
    font-size: 1.5rem;
    border-radius: 30px;
    padding-inline: 1rem;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    caret-color: var(--accent);
}